.RentContainer{
   width: 100vw;
   position: relative;
   background-color: black;
   color: aliceblue;
}
.containerimg{
    width: 100vw;
}
.imgsec2{
    width: 100%;
    z-index: -1;
    
}
.containercontent{max-width: 600px;
   color: rgb(247, 242, 242);
    display: flex;
    flex-direction: column;
    z-index: 2;
    margin-top: 139px;
    margin-left: 177px;
    

}
.child{
    text-align: center;
}

@media screen and (max-width: 500px){
    .Content{
        margin: 0;
       
        color: #111;
        width: 100vw;
      
    }
    .RentContainer{
        position: relative;
        height: 400px;
        
        
    }
   
    
    
    .imgsec2{
        width: 100%;
        background-size: cover;
      
      
        
       
        z-index: 1;
        
    }
    .containercontent{
        margin: 0px;
       width: 100vw;
        position: absolute;
        top: 191px;
        
        font-size: 21px;
        align-items: center;
    }
    .right {
  
        width: 100vw;
        align-items: center;
        font-size: 14px;
    }
    .child{
        font-size: 10px;
    }
}